.App {
  margin-top: -50px;
}

.background {
  background-image: url('./assets/images/background.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.outer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .paper {
    width: 90%;
    height: 1000px;
    padding: 20px;
    // margin-top: 50px;
  }

  .mainTitle {
    padding: 17%;
    color: white;
    font-size: 1.7rem;
    font-weight: 600;
  }
}

.link {
  color: white;
  text-decoration: none;
}